$color-black:					#252525;
$color-white:					#ffffff;
$color-orange:					#ff8f09;
$color-green:					#2c7270;
$color-red:						#c7254e;
$color-verylightgrey:			#f9f9f9;
$color-lightergrey:				#a1a1a1;
$color-lightgrey:				#ebebeb;
$color-midgrey:					#898989;
$color-altmidgrey:				#acacac;
$color-darkgrey:				#5d5d5d; //body font color
$color-verydarkgrey:			#363636;
$color-evendarkergrey:			#464646; //top heading colour
